/* 系统主题配色 */
/* 
  配置规则：
    1. 各主题配色变量名必须保持一致
    2. 变量命名规则：
      1) --primary: 主配色，通常用于多个页面；
      2) --页面名：该页面适用配色；
      3) --页面名-bg：页面背景图；
      4) --页面名-ic：页面图标。
*/
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    /* --color-border-hover: var(--vt-c-divider-dark-1); */
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --el-fill-color-blank:var(--vt-c-black);
    --el-bg-color-overlay:var(--vt-c-black);
    --el-text-color-regular: var(--vt-c-text-dark-2);
  }
  :root {
    --categories-c-bg: #1D1E1F;
    --categories-c-page: #0A0A0A;
    --categories-c-overlay: #141414;
    --categories-c-text: #53637A;
    --categories-c-icon: #2F333D;
    --categories-c-line: #242529;

    --ep-c-bg-row: #18191a;
    --ep-c-bg-purple: #46494d;
    --ep-c-bg-purple-dark: #242526;
    --ep-c-bg-purple-light: #667180;

    --vp-c-text-1: rgba(255, 255, 245, .86);
    --vp-c-text-2: rgba(235, 235, 245, .6);
    --vp-c-text-3: rgba(235, 235, 245, .38);

    --vp-c-border: #3c3f44;
    --vp-c-divider: #2e2e32;
    --vp-c-gutter: #000000;

    --vp-c-bg: #1b1b1f;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #202127;

    --vp-c-gray-1: #515c67;
    --vp-c-gray-2: #414853;
    --vp-c-gray-3: #32363f;
    --vp-c-gray-soft: rgba(101, 117, 133, .16);
    --vp-c-indigo-1: #a8b1ff;
    --vp-c-indigo-2: #5c73e7;
    --vp-c-indigo-3: #3e63dd;
    --vp-c-indigo-soft: rgba(100, 108, 255, .16);
    --vp-c-purple-1: #c8abfa;
    --vp-c-purple-2: #a879e6;
    --vp-c-purple-3: #8e5cd9;
    --vp-c-purple-soft: rgba(159, 122, 234, .16);
    --vp-c-green-1: #3dd68c;
    --vp-c-green-2: #30a46c;
    --vp-c-green-3: #298459;
    --vp-c-green-soft: rgba(16, 185, 129, .16);
    --vp-c-yellow-1: #f9b44e;
    --vp-c-yellow-2: #da8b17;
    --vp-c-yellow-3: #a46a0a;
    --vp-c-yellow-soft: rgba(234, 179, 8, .16);
    --vp-c-red-1: #f66f81;
    --vp-c-red-2: #f14158;
    --vp-c-red-3: #b62a3c;
    --vp-c-red-soft: rgba(244, 63, 94, .16);

    /* 基础颜色 */
    --vp-c-white: #ffffff;
    --vp-c-black: #000000;
    --vp-c-neutral: var(--vp-c-white);
    --vp-c-neutral-inverse: var(--vp-c-black);
    
    --bg-color-rgb: 0, 0, 0;
    --bg-color-soft: #242424;
    --bg-color-mute: #2c2c2c;
    --code-tooltip-bg-color: rgba(var(--el-color-primary-rgb), .1);
    --code-tooltip-color: var(--brand-color);
    --purple-color: #9065db;
    --purple-color-light: #6222c2;
  }
  :root{
    /* 颜色方案设置 */
    color-scheme: dark; /* 颜色方案为深色模式 */
  
    /* 背景颜色 */
    --el-bg-color: #1e1e1e; /* 默认背景颜色 */
    --el-bg-color-page: #2c2c2c; /* 页面背景颜色 */
    --el-bg-color-overlay: rgba(30, 30, 30, 0.9); /* 覆盖层背景颜色 */
  
    /* 文本颜色 */
    --el-text-color-primary: #ffffff; /* 主要文本颜色 */
    --el-text-color-regular: #e0e0e0; /* 常规文本颜色 */
    --el-text-color-secondary: #b0b0b0; /* 次要文本颜色 */
    --el-text-color-placeholder: #7f7f7f; /* 占位符文本颜色 */
    --el-text-color-disabled: #555555; /* 禁用状态文本颜色 */
  
    /* 边框颜色 */
    --el-border-color: #444444; /* 默认边框颜色 */
    --el-border-color-light: #555555; /* 浅边框颜色 */
    --el-border-color-lighter: #666666; /* 更浅边框颜色 */
    --el-border-color-extra-light: #777777; /* 超浅边框颜色 */
    --el-border-color-dark: #333333; /* 深边框颜色 */
    --el-border-color-darker: #222222; /* 更深边框颜色 */
  
    /* 填充颜色 */
    --el-fill-color: #2b2b2b; /* 填充颜色 */
    --el-fill-color-light: #3a3a3a; /* 浅填充颜色 */
    --el-fill-color-lighter: #4a4a4a; /* 更浅填充颜色 */
    --el-fill-color-extra-light: #5a5a5a; /* 超浅填充颜色 */
    --el-fill-color-dark: #1f1f1f; /* 深填充颜色 */
    --el-fill-color-darker: #0f0f0f; /* 更深填充颜色 */
    --el-fill-color-blank: #1e1e1e; /* 空白填充颜色 */
  
    /* 盒子阴影 */
    --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.5), 0px 8px 20px rgba(0, 0, 0, 0.7); /* 默认阴影 */
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.3); /* 浅阴影 */
    --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.3); /* 更浅阴影 */
    --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.5), 0px 12px 32px rgba(0, 0, 0, 0.7), 0px 8px 16px -8px rgba(0, 0, 0, 0.8); /* 深阴影 */
  
    /* 禁用状态样式 */
    --el-disabled-bg-color: var(--el-fill-color-light); /* 禁用状态背景颜色 */
    --el-disabled-text-color: var(--el-text-color-placeholder); /* 禁用状态文本颜色 */
    --el-disabled-border-color: var(--el-border-color-light); /* 禁用状态边框颜色 */
  
    /* 覆盖层颜色 */
    --el-overlay-color: rgba(255, 255, 255, 0.1); /* 覆盖层颜色 */
    --el-overlay-color-light: rgba(255, 255, 255, 0.2); /* 浅覆盖层颜色 */
    --el-overlay-color-lighter: rgba(255, 255, 255, 0.3); /* 更浅覆盖层颜色 */
  
    /* 蒙版颜色 */
    --el-mask-color: rgba(0, 0, 0, 0.9); /* 蒙版颜色 */
    --el-mask-color-extra-light: rgba(0, 0, 0, 0.3); /* 超浅蒙版颜色 */
  
    /* 边框样式 */
    --el-border-width: 1px; /* 边框宽度 */
    --el-border-style: solid; /* 边框样式 */
    --el-border-color-hover: var(--el-text-color-secondary); /* 悬停状态边框颜色 */
    --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color); /* 边框属性组合 */
    
    /* 单色灰色 SVG 颜色 */
    --el-svg-monochrome-grey: var(--el-border-color); /* 单色灰色 SVG 颜色 */
  }
  :root[theme="grey"] {
    --el-color-primary: rgb(104, 100, 99);
    --el-color-primary-light-1: rgb(130, 126, 125); /* 10% lighter */
    --el-color-primary-light-2: rgb(156, 152, 151); /* 20% lighter */
    --el-color-primary-light-3: rgb(182, 178, 177); /* 30% lighter */

    --el-color-success: rgb(71, 67, 67);
    --el-color-success-light-1: rgb(87, 83, 83); /* 10% lighter */
    --el-color-success-light-2: rgb(103, 99, 99); /* 20% lighter */
    --el-color-success-light-3: rgb(119, 115, 115); /* 30% lighter */

    --el-color-info: rgb(90, 144, 234);
    --el-color-info-light-1: rgb(110, 164, 244); /* 10% lighter */
    --el-color-info-light-2: rgb(130, 184, 254); /* 20% lighter */
    --el-color-info-light-3: rgb(150, 204, 264); /* 30% lighter */

    --el-color-warning: rgb(234, 134, 50);
    --el-color-warning-light-1: rgb(244, 154, 70); /* 10% lighter */
    --el-color-warning-light-2: rgb(254, 174, 90); /* 20% lighter */
    --el-color-warning-light-3: rgb(264, 194, 110); /* 30% lighter */

    --el-color-danger: rgb(214, 39, 39);
    --el-color-danger-light-1: rgb(224, 59, 59); /* 10% lighter */
    --el-color-danger-light-2: rgb(234, 79, 79); /* 20% lighter */
    --el-color-danger-light-3: rgb(244, 99, 99); /* 30% lighter */

    --el-color-error: rgb(214, 39, 39);
    --el-color-error-light-1: rgb(224, 59, 59); /* 10% lighter */
    --el-color-error-light-2: rgb(234, 79, 79); /* 20% lighter */
    --el-color-error-light-3: rgb(244, 99, 99); /* 30% lighter */
}


  :root[theme="red"] {
    --el-color-primary: rgb(221, 153, 134);
    --el-color-success: rgb(207, 60, 20);
  }

  :root[theme="blue"]{
    --el-color-primary: #409eff;
    --el-color-primary-light-3: rgb(50.8, 116.6, 184.5);
    --el-color-primary-light-5: rgb(42, 89, 137.5);
    --el-color-primary-light-7: rgb(33.2, 61.4, 90.5);
    --el-color-primary-light-8: rgb(28.8, 47.6, 67);
    --el-color-primary-light-9: rgb(24.4, 33.8, 43.5);
    --el-color-primary-dark-2: rgb(102.2, 177.4, 255);

    --el-color-success: #67c23a;
    --el-color-success-light-3: rgb(78.1, 141.8, 46.6);
    --el-color-success-light-5: rgb(61.5, 107, 39);
    --el-color-success-light-7: rgb(44.9, 72.2, 31.4);
    --el-color-success-light-8: rgb(36.6, 54.8, 27.6);
    --el-color-success-light-9: rgb(28.3, 37.4, 23.8);
    --el-color-success-dark-2: rgb(133.4, 206.2, 97.4);

    --el-color-warning: #e6a23c;
    --el-color-warning-light-3: rgb(167, 119.4, 48);
    --el-color-warning-light-5: #7d5b28;
    --el-color-warning-light-7: rgb(83, 62.6, 32);
    --el-color-warning-light-8: rgb(62, 48.4, 28);
    --el-color-warning-light-9: rgb(41, 34.2, 24);
    --el-color-warning-dark-2: rgb(235, 180.6, 99);

    --el-color-danger: #f56c6c;
    --el-color-danger-light-3: rgb(177.5, 81.6, 81.6);
    --el-color-danger-light-5: rgb(132.5, 64, 64);
    --el-color-danger-light-7: rgb(87.5, 46.4, 46.4);
    --el-color-danger-light-8: rgb(65, 37.6, 37.6);
    --el-color-danger-light-9: rgb(42.5, 28.8, 28.8);
    --el-color-danger-dark-2: rgb(247, 137.4, 137.4);

    --el-color-error: #f56c6c;
    --el-color-error-light-3: rgb(177.5, 81.6, 81.6);
    --el-color-error-light-5: rgb(132.5, 64, 64);
    --el-color-error-light-7: rgb(87.5, 46.4, 46.4);
    --el-color-error-light-8: rgb(65, 37.6, 37.6);
    --el-color-error-light-9: rgb(42.5, 28.8, 28.8);
    --el-color-error-dark-2: rgb(247, 137.4, 137.4);

    --el-color-info: #909399;
    --el-color-info-light-3: rgb(106.8, 108.9, 113.1);
    --el-color-info-light-5: rgb(82, 83.5, 86.5);
    --el-color-info-light-7: rgb(57.2, 58.1, 59.9);
    --el-color-info-light-8: rgb(44.8, 45.4, 46.6);
    --el-color-info-light-9: rgb(32.4, 32.7, 33.3);
    --el-color-info-dark-2: rgb(166.2, 168.6, 173.4);
   }
}