/* 系统主题配色 */
/* 
  配置规则：
    1. 各主题配色变量名必须保持一致
    2. 变量命名规则：
      1) --primary: 主配色，通常用于多个页面；
      2) --页面名：该页面适用配色；
      3) --页面名-bg：页面背景图；
      4) --页面名-ic：页面图标。
*/

/* 系统主题配色 */
/* 
  配置规则：
    1. 各主题配色变量名必须保持一致
    2. 变量命名规则：
      1) --primary: 主配色，通常用于多个页面；
      2) --页面名：该页面适用配色；
      3) --页面名-bg：页面背景图；
      4) --页面名-ic：页面图标。
*/

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    /* --color-border-hover: var(--vt-c-divider-light-1); */
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --section-gap: 160px;

    --el-fill-color-blank:var(--vt-c-white);
  }

  :root[theme="grey"] {
    --el-color-primary: rgb(71, 67, 67);
    --el-color-success: rgb(104, 100, 99);
  }

  :root[theme="red"] {
    --el-color-primary: rgb(207, 60, 20);
    --el-color-success: rgb(221, 153, 134);
  }

  :root[theme="blue"] {
    --el-color-primary: rgb(11, 46, 116);
    --el-color-success: rgb(20, 82, 207);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    /* --color-border-hover: var(--vt-c-divider-dark-1); */
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --el-fill-color-blank:var(--vt-c-black);
    --el-bg-color-overlay:var(--vt-c-black);
    --el-text-color-regular: var(--vt-c-text-dark-2);
  }

  :root[theme="grey"] {
    --el-color-primary: rgb(104, 100, 99);
    --el-color-primary-light-1: rgb(130, 126, 125); /* 10% lighter */
    --el-color-primary-light-2: rgb(156, 152, 151); /* 20% lighter */
    --el-color-primary-light-3: rgb(182, 178, 177); /* 30% lighter */

    --el-color-success: rgb(71, 67, 67);
    --el-color-success-light-1: rgb(87, 83, 83); /* 10% lighter */
    --el-color-success-light-2: rgb(103, 99, 99); /* 20% lighter */
    --el-color-success-light-3: rgb(119, 115, 115); /* 30% lighter */

    --el-color-info: rgb(90, 144, 234);
    --el-color-info-light-1: rgb(110, 164, 244); /* 10% lighter */
    --el-color-info-light-2: rgb(130, 184, 254); /* 20% lighter */
    --el-color-info-light-3: rgb(150, 204, 264); /* 30% lighter */

    --el-color-warning: rgb(234, 134, 50);
    --el-color-warning-light-1: rgb(244, 154, 70); /* 10% lighter */
    --el-color-warning-light-2: rgb(254, 174, 90); /* 20% lighter */
    --el-color-warning-light-3: rgb(264, 194, 110); /* 30% lighter */

    --el-color-danger: rgb(214, 39, 39);
    --el-color-danger-light-1: rgb(224, 59, 59); /* 10% lighter */
    --el-color-danger-light-2: rgb(234, 79, 79); /* 20% lighter */
    --el-color-danger-light-3: rgb(244, 99, 99); /* 30% lighter */

    --el-color-error: rgb(214, 39, 39);
    --el-color-error-light-1: rgb(224, 59, 59); /* 10% lighter */
    --el-color-error-light-2: rgb(234, 79, 79); /* 20% lighter */
    --el-color-error-light-3: rgb(244, 99, 99); /* 30% lighter */
}


  :root[theme="red"] {
    --el-color-primary: rgb(221, 153, 134);
    --el-color-success: rgb(207, 60, 20);
  }

  :root[theme="blue"] {
    --el-color-primary: rgb(20, 82, 207);
    --el-color-success: rgb(11, 46, 116);
  }
}